.topHeader {
	height: 5rem;
	z-index: 1;
	position: relative;
	padding: 0rem;
	background-color: #fff;
	z-index: 3;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
	transition: all .2s ease;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.topHeader ul{
    margin: 0px;
    padding: 0px;
}

.topHeader ul li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}

.topHeaderinner{
    display: flex;
    align-self: center;
    justify-content: space-between;
}
.topHeader ul li h4{
    font-weight: 400;
}
.topHeader ul li span{
color: #593bdb;
font-weight: bold;
}

.page-titles {
	padding: 0.9375rem 1.25rem;
	border-radius: 5px;
}
.page-titles h4 {
	margin-bottom: 0;
	margin-top: 0;
	color: #fff;
	font-size: 1.25rem;
}