@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	color: #BDBDC7;
	text-align: left;
	background-color: rgba(88, 115, 254, 0.04);
}
.authincation-content {
	background: #fff;
	box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
	border-radius: 5px;
}
.auth-form {
	padding: 50px 50px;
}